name: CI
on:
  push:
    branches: ["*"]
  pull_request: # needed to trigger on others' PRs
  workflow_dispatch: # needed to trigger workflows manually

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
        python-version: ["3.12", "3.13", "3.14"]
        # exclude:
        #   [
        #     { platform: macos-latest, python-version: "3.12" },
        #   ]

    runs-on: ${{ matrix.platform }}

    steps:
      - run: echo "$HOME/.local/bin" >> $GITHUB_PATH

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # nicer to have all git history when debugging/for tests

      - run: ./install

      - uses: actions/upload-artifact@v4
        with:
          name: .coverage.mypy-${{ matrix.platform }}_${{ matrix.python-version }}
          path: .coverage.mypy/
